@import url(https://fonts.googleapis.com/css?family=Sigmar+One);
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
*{
    margin: 0;
    padding:0;
    
}
/* Code above removes white space between header & top of page */

header{
    background-color: black;
}
h1{
    text-align:center;
    font-family: 'Sigmar One';
    color:#f0aeba;
    font-size: 67px;
   
}

body {
  background-color: #33f7f7;

}


p{
    font-family: 'Russo One', sans-serif;
    color: black;
    text-align: center;
    margin:11px;
    font-size: 25px;
    font-weight: bold;
    
    
    
    
}
.score-board{
    margin: 20px auto;
    border: 5px solid black;
    border-radius:10px;
    text-align:center;
    width: 200px;
    font-size:37px;
    color:black;
    padding: 30px 20px;
    font-family: sans-serif;  
    position:relative;     
}

.badge{
    background:#ec95a5;
    font-size: 14px;
    padding: 8px 10px;
    font:small-caps bold 24px/1 sans-serif;
    color:white; 

}

#user-label{
    position:absolute;
    top:25px;
    left:-25px;
}

 #comp-label{
    position:absolute;
    top:25px;
    right:-25px;
}

#action{
    font-family: 'Russo One', sans-serif;
    color:black;
    font-size: 40px;  
    text-align:center;
    margin: 24px;
    font-weight: bold;
    
}

.choices{
    text-align:center;
}

.choice{
    display:inline-block;
}
/* Makes images horizontal*/
.choice:hover{
    cursor:pointer;
}
#r{
    background:pink;
}
#r:hover {
    transition: .5s ease;
    background: #ed718b;
    border-radius: 10px;
    color: #fff;
    transform: scale(1.1);
  }
  #p{
      background:navy;
  }
  #p:hover {
    transition: .5s ease;
    background: navy;
    border-radius: 10px;
    color: #fff;
    transform: scale(1.1);
  }
  #s{
      background:rgb(123, 142, 248)
  }
  #s:hover {
    transition: .5s ease;
    background: #8871ed;
    border-radius: 10px;
    color: #fff;
    transform: scale(1.1);
  }