@import url(https://fonts.googleapis.com/css?family=Sigmar+One);
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

/* Code above removes white space between header & top of page */


h1{
    margin-top:8px;
    margin-bottom:7px;
    text-align:center;
    font-family: 'Sigmar One';
    color:#f0aeba;
    font-size: 75px;
    text-shadow:
    -2px -2px 0 #000,
     0   -2px 0 #000,
     2px -2px 0 #000,
     2px  0   0 #000,
     2px  2px 0 #000,
     0    2px 0 #000,
    -2px  2px 0 #000,
    -2px  0   0 #000;
   
}

body {
  background-color: #33f7f7;
  
}

p{
    font-family: 'Russo One', sans-serif;
    color: black;
    text-align: center;
    margin:15px;
    font-size: 25px;
    font-weight: bold;
    
}
.score-board{
    margin: 20px auto;
    border: 5px solid black;
    border-radius:10px;
    text-align:center;
    width: 200px;
    font-size:37px;
    color:black;
    padding: 30px 20px;
    font-family: sans-serif;  
    position:relative;     
}

.badge{
    background:#ec95a5;
    font-size: 14px;
    padding: 8px 10px;
    font:small-caps bold 24px/1 sans-serif;
    color:white; 

}

#user-label{
    position:absolute;
    top:25px;
    left:-25px;
}

 #comp-label{
    position:absolute;
    top:25px;
    right:-25px;
}

#action{
    font-family: 'Russo One', sans-serif;
    color:black;
    font-size: 34px;  
    text-align:center;
    margin: 26px;
    font-weight: bold;
    
}

.choices{
    text-align:center;
}

.choice{
    display:inline-block;
}
/* Makes images horizontal*/
.choice:hover{
    cursor:pointer;
}
#r{
    background:pink;
}
#r:hover {
    transition: .5s ease;
    background: #f89baf;
    border-radius: 10px;
    color: #fff;
    transform: scale(1.1);
  }
  #p{
      background:rgb(1, 1, 165);
  }
  #p:hover {
    transition: .5s ease;
    background: navy;
    border-radius: 10px;
    color: #fff;
    transform: scale(1.1);
  }
  #s{
      background:rgb(123, 142, 248)
  }
  #s:hover {
    transition: .5s ease;
    background: #8871ed;
    border-radius: 10px;
    color: #fff;
    transform: scale(1.1);
  }

  #reset{ 
    margin-top:30px;
    background:#ec95a5;  
    padding: 18px 27px;
    font:small-caps bold 30px/1 sans-serif;
    color:white;
    border: none;
    cursor: pointer; 
   
  }
